<!DOCTYPE html>
<html lang="en">

<% include partials/header.ejs %>

<body>
<% include partials/navbar.ejs %>
<section class="main-section">
    <div class="container-fluid section-title">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <h1 class="title">Contact us</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <section class="my-4">
            <!--Section description-->
            <p class="text-center w-responsive mx-auto mb-5 contact_title">Do you have any questions? Please do not
                hesitate
                to contact us directly. Our team will come back to you within
                a matter of hours to help you.</p>

            <div class="row">

                <!--Grid column-->
                <div class="col-md-9 mb-md-0 mb-5">
                    <form class="contact_form">
                        <!--Grid row-->
                        <div class="row">
                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-3">
                                    <input type="text" id="name" name="name" class="form-control"
                                           placeholder=" Enter your name here">
                                </div>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-4">
                                    <input type="text" id="email" name="email" class="form-control"
                                           placeholder=" info@youremail.com">
                                </div>
                            </div>
                            <!--Grid column-->
                        </div>
                        <!--Grid row-->
                        <!--Grid row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-4">
                                    <input type="text" id="subject" name="subject"
                                           class="form-control"
                                           placeholder=" Subject">
                                </div>
                            </div>
                        </div>
                        <!--Grid row-->
                        <!--Grid row-->
                        <div class="row">
                            <!--Grid column-->
                            <div class="col-md-12">
                                <div class="md-form mb-3">
                                <textarea id="message" name="message" rows="2"
                                          class="form-control md-textarea"
                                          placeholder=" Enter your Message here"></textarea>
                                </div>
                            </div>
                        </div>
                        <!--Grid row-->
                        <div class="text-center text-md-left">
                            <button class="btn btn-primary btn-block btn-lg btn-custom mb-5">Send</button>
                        </div>
                        <div class="status"></div>
                    </form>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-3 text-center">
                    <ul class="list-unstyled mb-0">
                        <% if (location) { %>
                        <li><i class="fas fa-map-marker-alt fa-3x  text-info mb-2"></i>
                            <p class="contactinfo">
                                <%= location.street %>,
                                <%= location.city %>, <%= location.state %>, <%= location.country %>
                            </p>
                        </li>
                        <% } %>
                        <% if (contact_info) { %>
                        <li><i class="fas fa-phone mt-4 fa-3x  text-info mb-2"></i>
                            <p class="contactinfo"><%= contact_info.phone_number %></p>
                        </li>

                        <li><i class="fas fa-envelope mt-4 fa-3x mb-2 "></i>
                            <p class="contactinfo"><%= contact_info.email %></p>
                        </li>
                        <% } %>
                    </ul>
                </div>
                <!--Grid column-->

            </div>

        </section>
    </div>
</section>

<% include partials/footer.ejs %>


</body>
<% include partials/modal.ejs %>
</html>